

.dancing-script-primary {
    font-family: "Quicksand", serif;
    font-style: normal;
  }

body{
    background: linear-gradient(to top, #ebd1a454, white);
    margin-left: 141px;
    margin-right: 141px;
}

/* nav style */

.header{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;

}
.logo-img{
    width: 62px;
    height: 62px;
}
.logo-text{
    font-size: 32px;
    font-weight: bold;
    margin-left: 10px;
}
.nav>li{
    list-style-type: none;
    margin-right: 32px;
}
.nav{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    margin-left: 186px;
    margin-right: 154px;
    
}
header > .icon{
    
    display: none;
    
}
.home{
    font-weight: bold;
    color: orange;
}
.about{
    color: skyblue;
}
.facilities{
    color: #05D4DF;
}
.admission{
    color: #5D58EF;
}


.primary-btn{
    color: #ffffff;
    padding: 10px 60px 10px 60px;
    background-color: orange;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
}
/* nav style */


/* main content part */


.content-banner-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-banner-h-1{
    font-size: 56px;
    font-weight: bold;
    color: black;
}

.empowering{
    color: orange;
}
.towards-vision{
    color: skyblue;
}
.content-banner-p-1{
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.primary-btn-black{
    background-color: black;
}

.content-banner-text-1{
    flex: 1;
    
}
.content-banner-img-1{
    flex: 1;
    
}
.content-banner-img-1 > img{
    max-width: 100%;
}

/* main content part */

.content-banner-2{
    background-image: url(images/bg.png);
}

.content-banner-2nd-part-title{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content-banner-2nd-part-cards{
    display: flex;
}
.card{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 330px;
    height: 480px;
    border-radius: 19px;
    padding: 30px;
    margin-top: 30px;
    
}
.card-1{
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1), white); 
    border: solid 2px #DEF5FF;
}
.card-2{
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1), white); 
    margin-left: 20px;
    border: solid 2px #FFF4DC;
}
.card-3{
    background: linear-gradient(to bottom, rgba(242, 232, 255, 1), white); 
    margin-left: 20px;
    border: solid 2px #F2E8FF;
}
.card-img{
    margin-top: 40px;
    width: 142px;
    height: 142px;
}
.title{
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.text{
    font-size: 15px;
    font-weight: 500;
    color: #808080;
    margin-bottom: 40px;
}

.read{
    
    font-size: 15px;
    font-weight: bold;
    color: #F0AA00;
    text-decoration: none;
}
.read-1{
    color: #64C8FF;
}
.read-2{
    color: #F0AA00;
}
.read-3{
    color: #8700FF;
}

.icon-2{
    
    width: 150px;
    margin-left: 520px;
    display: flex;
}
.less{ 
    padding: 6px 10px 6px 10px;
    color: white;
    background-color: orange;
    border-radius: 50%;
    font-size: 34px;
    font-weight: solid;
}
.greater{
    margin-left: 20px;
}


.stories{
    
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.stories-title{
    font-size: 46px;
    font-weight: bold;
    color: black;
    margin-bottom: 100px;
}
.stories-card{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}
.stories-card-single{
    
    border-radius: 16px;
    background-color: white;
    border-style: none;
    border-radius: 26px;
    width: 440px;
}
.stories-card-single-img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
}
.single-title{
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-top: 60px;
    margin-bottom: 30px;
}
.single-description{
    font-size: 15px;
    font-weight: 500;
    color: #666666;
    padding: 20px;
    margin-top: 50px;
}
.btn-stories-card{
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    border-style: none;
    border-radius: 47px;
    color: white;
    background-color: skyblue;

}

.btn-1{
    position: absolute;
    margin-top: -305px;
    margin-left: -180px;
    
}



.stories-card-multiple{
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    
    width: 58%;
}
.multiple-stories{
    width: 94%;
    background-color: white;
    border-style: none;
    border-radius: 10px;
}
.stories-img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.btn-2{
    background-color: rgb(134, 234, 134);
    position: absolute;
    margin-top: -137px;
    margin-left: -80px;
}



.stories-button{
    margin-top: 80px;
    margin-bottom: 100px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    border-radius: 12px;
    border-style: none;
    padding: 10px 50px 10px 50px;
}
.stories-p{
    padding: 20px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.extra{
    display: none;
}















@media screen and (max-width: 576px) {

    /* nav style */

    body{
      margin: 0;
    }
    
    .header{
        padding: 16px;
        justify-content: space-between;
        border: solid 1px orange;

    .logo-text{
        display: none;
    }
    .nav{
        display: none;
    }
    .primary-btn{
        display: none;
    }
    .logo-img{
       margin-: 142px;
        width: 46px;
        height: 46px;
    }
    
    }
    header > .icon{
        display: inline-block;
        font-size: 30px;
        
        
    }

    /* nav style */

    /* main content part */

    .content-banner-1{
        flex-direction: column;
      }
    .content-banner-text-1{
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        
    }
    .content-banner-h-1{
        font-size: 32px;
    }
    .content-banner-img-1{
        order: -1;
        width: 90%;
        
    }
    .content-banner-p-1{
        font-size: 14px;
    }
    .primary-btn-black{
        font-size: 16px;
    }
    /* main content part */

    .content-banner-2nd-part-cards{
        flex-direction: column;
        
    }
    .card-1{
        margin-left: 20px;
    }
    .card{
        width: 72%;
    }
    .icon-2{
        display: none;
    }

    .stories-card-single{
        display: none;
    }
    .stories-card-multiple{
        width: 90%;
    }
    .extra{
        display: block;
    }

   
    
}